<p>pm-dashboard works!</p>


<p>get-projects works!</p>
<div class="users-container">
    <div class="users-header">
      <h2>projects List</h2>
      <p>Below is the list of all projects</p>
    </div>
    <table class="users-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>PMID</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.pm }}</td>
           
          </tr>
      </tbody>
    </table>
  </div>
  
 
  <div class="users-container">
   <div class="users-header">
      <h2>projects ASSIgn List</h2>
      <p>Below is the list of all assign rojects</p>
    </div>
    <button (click)="appASSIGN()">ASSIGN PROJECTS</button>
    <table class="users-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>project ID-Name</th>
          <th>MEMID</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pm of projmem">
            <td> {{ pm.id }} </td>
            <td>{{ getProjectName(pm.projectid) }}</td>
            <td>{{ getMemberName(pm.memid) }}</td>
           
          </tr>
      </tbody>
    </table>
  </div>
 
  <div class="users-container">
    <div class="users-header">
       <h2>TAsks ASSIgn List</h2>
       <p>Below is the list of all assign TAsks</p>
     </div>
     <button (click)="appTask()">ASSIGN Tasks</button>
     <table class="users-table">
       <thead>
         <tr>
          
           <th>project ID-Name</th>
           <th>title</th>
           <th>description</th>
           <th>tasktype</th>
           <th>assignedto</th>
           <th> status</th>
           
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let t of tasks">
             <td> {{t.projectid}}--{{ getProjectName(t.projectid) }} </td>
             <td>{{t.title}}</td>
             <td>{{t.description}}</td>
             <td>{{t.tasktype}}</td>
             <td>{{getMemberName(t.assignedto)}}</td>
             <td>{{t.status}}</td>
            
           </tr>
       </tbody>
     </table>
   </div>


  


  