<!-- <div>
    <h2>Users List</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
        </tr>
      </tbody>
    </table>
  </div>
   -->
   <div class="users-container">
    <div class="users-header">
      <h2>Users List</h2>
      <p>Below is the list of all users</p>
    </div>
    <table class="users-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <!-- Check if user.id is undefined -->
            <button *ngIf="user.id; else cannotDelete" (click)="deleteuser(user.id)">Delete</button>
            <ng-template #cannotDelete>
              <span>Cannot delete</span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>