
<div class="dashboard-container">
    <div class="dashboard-header">
      <h1>Admin Dashboard</h1>
      <p>Manage users and view details</p>
    </div>
    <div >
      <button  (click)="Gotoadduser()">ADD NEW USER</button>
      <app-get-users></app-get-users>
    </div>
    <div>
        <button  (click)="Gotoaddproject()">ADD NEW Project</button>
        <div>
            <table class="users-table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>PMID</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects">
                      <td>{{ project.id }}</td>
                      <td>{{ project.name }}</td>
                      <td>{{ project.pm }}</td>
                      <td>{{ project.action }}</td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>