@using FooddeliveryApp;
@model AdminDashBoardViewmodel


<h2>Add New Restaurant</h2>

<form asp-action="AddRestaurant" method="post">
    <div>
        <label for="rname">Restaurant Name:</label>
        <input type="text" id="rname" name="restaurants.rname" required />
    </div>
    <div>
        <label for="rlocation"> Restaurant Location</label>
        <input type="text" id="rlocation" name="restaurants.rlocation" required />
    </div>
    <div>
        <label for="restaurants.ownerid">Owner ID:</label>
        <select id="ownerid" name="restaurants.ownerid" required>
            @foreach (var owner in ViewBag.ownerslist)
            {
                <option value="@owner.userid">@owner.uname</option>
            }
        </select>
    </div>
    <div>
        <button type="submit">Add Restaurant</button>
    </div>
</form>
